/*mobile view container 640x360 resolution*/
.main-app-view {
    width: 360px;
    height: 640px;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(121, 121, 121, 1);
}

body {
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 290px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

body.b {
    position: relative;
    left: -0px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.search {
    width: 25%;
    height: 25%;
    font-size: 30px;
}
.top-buffer { margin-top:20px; }

.box {
    width: 25%;
    height: 25%;
    font-size: 25px;
}

#boxes {
    text-align: center;
}

#button {
    width: 200px;
}