/*mobile view container 640x360 resolution*/
.main-app-view {
    width: 360px;
    height: 640px;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(121, 121, 121, 1);
}

body {
    background-image: none;
    position: static;
    left: auto;
    width: 290px;
    margin: 0;
    text-align: left;
}

body.b {
    position: relative;
    left: 0px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.center {
    text-align: center;
}
.reset-margin-bottom {
    margin-bottom: 0;
}
.map {
    max-width:100%;
    max-height:100%;
}
.map-map {
    margin-bottom: 15%;
}
.submit-button {
    width:100%;
    height:100%;
}
.top-buffer { margin-top:20px; }
.user-photo {
	width: 25%;
    height: 25%;
    padding:12.5% 5%;
    font-size: 30px;
}
.add-photo-button{
	padding-bottom: 10%;
}
input{
   text-align:center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.message-container {
    height: 200px;
}

.icon-container {
    height: 20px;

}
/*Fullfillment of the order BELOW:*/
/*
.offeredPrice {
    float: left;
}   

#offeredPrice {
    width: 40%;
}   

.mass {
    float: right;
}

#mass {
    width: 40%;
}   

.container2 {
    display: inline-block;
}
*/
