/*mobile view container 640x360 resolution*/
.main-app-view {
    width: 360px;
    height: 640px;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(121, 121, 121, 1);
}

body {
    background-image: none;
    position: static;
    left: auto;
    width: 290px;
    margin: 0;
    text-align: left;
}

body.b {
    position: relative;
    left: 0px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.reset-margin-bottom {
    margin-bottom: 0;
}
.text-long{
    border: solid;
    max-height: 100%;
    height: 25vh;
    overflow: auto;
}
.logo {
    max-width:100%;
    max-height:100%;
}
.login-logo {
    margin-bottom: 15%;
}
.submit-button {
    width:100%;
    height:100%;
}
.top-buffer-large { margin-top:20px; }
.top-buffer-medium { margin-top:20px; }
.user-photo {
	width: 25%;
    height: 25%;
    padding:12.5% 5%;
    font-size: 30px;
}
.add-photo-button{
	padding-bottom: 10%;
}
input{
   text-align:center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.message-container {
    height: 200px;
}

.icon-container {
    height: 20px;
}

.button-right-position {
    float: right !important;
}

.checkbox-left-position {
    padding-top: 0 !important;
    margin-bottom: 15px !important;
    margin-left: 0 !important;
}