.reset-margin-bottom {
    margin-bottom: 0;
}

.text-long {
    border: solid;
    max-height: 100%;
    height: 25vh;
    overflow: auto;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    display: block;
    margin: auto;
}

.login-logo {
    margin-bottom: 7.5%;
}

.top-buffer-large {
    margin-top: 20px;
}

.top-buffer-medium {
    margin-top: 20px;
}

.user-photo-row {
    margin-bottom: 5%;
}

.user-photo {
    width: 25%;
    height: 25%;
    font-size: 30px;
}

.add-photo-button {
    padding-bottom: 10%;
}

input {
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.message-container {
    height: 200px;
}

.icon-container {
    height: 20px;
}

.button-right-position {
    float: right !important;
}

.checkbox-left-position {
    padding-top: 0 !important;
    margin-bottom: 15px !important;
    margin-left: 0 !important;
}

/*styles for landingpages*/

#boxes {
    height: 125px;
    text-align: center;
}

.submit-button {
    width: 50%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    text-align: center !important;
    display: block !important;
    margin: auto;
}

.search-icon {
    font-size: 15px;
    width: auto;
}

.white-background {
    background: white !important;
}

.search-bar {
    margin-top: 20px;

}

.remove-padding {
    padding: 0 !important;
}

.column-view {
    display: flex;
    flex-direction: column;
}

.offset-down {
    margin-bottom: 20px;
}

/*styles for success sending pages*/
.reset-margin-bottom {
    margin-bottom: 0;
}

.text-long {
    border: solid;
    max-height: 100%;
    height: 25vh;
    overflow: auto;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    display: block;
    margin: auto;
}

.login-logo {
    margin-bottom: 7.5%;
}

.top-buffer-large {
    margin-top: 20px;
}

.top-buffer-medium {
    margin-top: 20px;
}

.user-photo-row {
    margin-bottom: 5%;
}

.user-photo {
    width: 25%;
    height: 25%;
    font-size: 30px;
}

.add-photo-button {
    padding-bottom: 10%;
}

input {
    text-align: center;
}

.message-container {
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 15px;
}

.checkbox-left-position {
    padding-top: 0 !important;
    margin-bottom: 15px !important;
    margin-left: 0 !important;
}

.top-buffer {
    margin-top: 20px;
}

.deli {
    width: 25%;
    height: 25%;
    font-size: 25px;
}

#boxes {
    text-align: center;
}

.submit-button {
    width: 50%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    text-align: center !important;
    display: block !important;
    margin: auto;
}

.small-text {
    font-size: 11px;
}

/*fullfilment_senderPage.css*/

.reset-margin-bottom {
    margin-bottom: 0;
}

.logo {
    max-width: 100%;
    max-height: 100%;
}

.login-logo {
    margin-bottom: 15%;
}

.top-buffer {
    margin-top: 20px;
}

.user-photo {
    width: 25%;
    height: 25%;
    padding: 12.5% 5%;
    font-size: 30px;
}

.add-photo-button {
    padding-bottom: 10%;
}

input {
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.message-container {
    height: 200px;
}

.icon-container {
    height: 20px;

}

/*Fullfillment of the order BELOW:*/
/*
.offeredPrice {
    float: left;
}

#offeredPrice {
    width: 40%;
}

.mass {
    float: right;
}

#mass {
    width: 40%;
}

.container2 {
    display: inline-block;
}
*/
/*fulfilment_deliverpage.css*/
.center {
    text-align: center;
}

.reset-margin-bottom {
    margin-bottom: 0;
}

.map {
    max-width: 100%;
    max-height: 100%;
}

.map-map {
    margin-bottom: 15%;
}

/*.submit-button {*/
/*width:100%;*/
/*height:100%;*/
/*}*/
.top-buffer {
    margin-top: 20px;
}

.user-photo {
    width: 25%;
    height: 25%;
    padding: 12.5% 5%;
    font-size: 30px;
}

.add-photo-button {
    padding-bottom: 10%;
}

input {
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.message-container {
    height: 200px;
}

.icon-container {
    height: 20px;

}

/*Landing Page*/

.data-container {
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
    margin-bottom: 15px;
}

/*/navbar/*/

.small-image {
    width: 40px;
    border-radius: 5px;
}
.padding-right {
    padding-right: 5px;
}

.padding-left {
    padding-left: 5px;
}

.search-bar-height {
    height: 43px;
}

.large-icon {
    font-size: x-large !important;
}

/*history orders details*/
.order-details-container {
    display: flex;
}

.description-container {
    display: flex;
    flex-direction: column;
}